*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.expensePage .title{
  text-align: center;
  margin-top: 50px;
  text-transform: capitalize;
}

.expensePage table {
  width: max-content;
  margin: 20px auto;
}

.expensePage td, .expensePage th{
  padding: 15px;
}

.tableBox{
  height: 350px;
  /* background-color: aqua; */
  overflow-y: auto;
  width: max-content;
  margin: auto;
}
.tableBox table{
 
  margin-top: 50px;
}

table button{
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}